$primary-color: rgb(139, 135, 222);
$secondary-color: rgb(202, 220, 229);
$third-color: rgb(138, 192, 212);

$text-color: rgb(28, 27, 27);
$link-color: rgb(41, 41, 231);

$btn-color: rgb(84, 84, 186);

$error-color: red;
