$primary-color: rgb(139, 135, 222);
$secondary-color: rgb(202, 220, 229);
$third-color: rgb(138, 192, 212);

$text-color: rgb(28, 27, 27);
$link-color: rgb(41, 41, 231);

$btn-color: rgb(84, 84, 186);

$error-color: red;

$primaryColor_background: rgb(240, 240, 238);
$primaryColor_active: rgb(203, 203, 202);
$primaryColor_outline: rgb(138, 138, 136);

$secondaryColor_background: rgb(199, 183, 214);
$secondaryColor_active: rgb(187, 159, 212);
$secondaryColor_outline: rgb(170, 125, 210);

$boxshadowColor: rgba(0, 0, 0, 0.2);
