.container-product {
  @include container-standard;
  @include flex-column;
  align-items: center;
  padding: 1em;
  .product {
    margin: 1em;
    padding: 1em;
    @include flex-column;
  }
  .rating,
  .product-info {
    margin: 1em 0 1em 0;
  }
  .add-to-cart-container {
    @include flex-row;
    max-width: 200px;
    margin-top: 1em;
    @include dual-buttons(6em, #5ca6f4);
    button:hover {
      background-color: #016de1;
    }
  }

  .img-product {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.779);
    padding: 1em;
  }

  .row {
    @include flex-row;
  }
}
