@import "../variables/colors";

@mixin standard-btn($width) {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  width: $width;
}

@mixin container-standard {
  min-height: 100vh;
  max-width: 100vw;
  margin: 1em;
  padding: 1em;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin dual-buttons($width, $color) {
  .input-number {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 3em;
  }
  .add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: $color;
    color: #fff;
    border: 1px solid $color;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    width: $width;
  }
}
