.navbar {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    li a {
      color: rgb(133, 131, 131);
      font-weight: 500;
      font-size: medium;
      text-decoration: none;
    }
  }
}

.navbar ul a.active {
  color: rgb(136, 2, 129);
}
