@import "../style/variables/colors";
@import "../style/variables/font";
@import "./functions/functions";
@import "../pages/root/root";
@import "../components/search/search";
@import "../components/navbar/navbar";
@import "../pages/category/categoryPage";
@import "../pages/product/productPage";
@import "../components/productCard/productCard";
@import "../components/pagination/pagination";
@import "../pages/cart/cartPage";
@import "../components/index/index";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $fontRegular;
}
