.index {
  @include container-standard;
  @include flex-column;

  h1,
  h2 {
    margin-bottom: 1em;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 1.5em;

    .category-item {
      position: relative;
      text-align: center;
      color: white;

      img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 350px;
        border: 1px solid rgba(0, 0, 0, 0.445);
        padding: 1em;
        overflow: hidden;
        cursor: pointer;
        filter: blur(2px);
      }

      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        padding: 1em;
        z-index: 2;
      }
    }
  }
}
